name: Test

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Set up Ruby
      uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085
      with:
        ruby-version: 3.1.1
    - name: Install dependencies
      run: bundle check || bundle install --jobs=4 --retry=3
    - name: Run tests
      run: bundle exec rake
    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: test-results
        path: test-results
